@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --swiper-theme-color:white !important;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #131415;
  line-height: 27px;
  font-size: 18px;
  color: white;
}

.btn {
  @apply bg-white text-black py-2 hover:text-white hover:bg-black;
}
.btn:not(.text-base){
  font-size: 24px;
}

.input-label{
  @apply peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#36e5f2a4] 
  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0;
}

.swiper-pagination-bullet{
  transition: all 0.5s;
}

.swiper-pagination-bullet-active{
  width: 14px !important;
  border-radius: 5px !important;
}

.collapsing{
  transition: all 0.15s;
}

.accordion-button{
  background-color: #232527 !important;
  box-shadow: none !important;
}

.accordion-button:after {
  filter: brightness(100);
}

input[type=radio]{
  accent-color: white;
}

input[type='radio']:not(:checked) {
  filter: brightness(25%);
}

.form-check-input:checked {
  background-color: #bbbbbb;
  border-color: #ffffff;
}

.header-btn-tools svg:hover, .header-btn-tools span:hover{
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.mobile-search{
  transition: top .4s;
}

.top-15{
  top: 59px;
}

.slide-image{
  height: 163px
}

@media screen and (max-width:1024px){
  .slide-image{
    max-height: 194px
  }
}